<div>
       <label class="input-label-text"
              for="inputValue">
              <input type="text"
                     placeholder="Adicione um novo item"
                     id="inputValue"
                     autofocus
                     (keyup.enter)="focusAndAddItem(inputText.value)"
                     #inputText />

              <button class="btn btn-primary-circle"
                      (click)="focusAndAddItem(inputText.value)"
                      title="Adicionar um novo item"></button>
       </label>
</div>